<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vendas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let sale of sales" (tap)="openSalesDetailsPage(sale.id)">
      <h2>{{ sale.Customer.name }}</h2>
      <p>{{ sale.Clothe.description }}</p>
      <p>{{ sale.date }}</p>
      <p>
        {{ sale.value }}
        <ion-icon *ngIf="sale.paid" name="checkmark-circle"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab (tap)="openSalesDetailsPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
